{% extends 'adminlte/base.html' %}

{% block page_name %}
  <div class="container-fluid">
    <h2>
      <span class="text-capitalize"> {{ header }}</span>
    </h2>
  </div>
{% endblock %}

{% block buttons %}
	<a data-fancybox data-type="ajax" href="{% url 'crud_add' slug %}" class="fancybox btn btn-sm btn-success" data-style="zoom-in"><span class="ladda-label"><i class="fa fa-plus"></i>  New entry</span></a>
{% endblock%}
{% block content %}
    <div class="card">
        <div class="card-body">
    
        </div>
    </div>
{% endblock %}

    