<a href="javascript:void(0)" onclick="deleteEntry(this)" data-route="{% url 'crud_delete' slug id %}" class="btn btn-sm btn-danger delete-btn" data-button-type="delete" tooltip title="Delete"><i class="fa fa-trash" style="font-size:0.75rem"></i></a>
{% comment %} <a href="{% url 'crud_delete' slug id %}" class="btn btn-sm btn-danger delete-btn" data-button-type="delete" tooltip title="Delete"><i class="fa fa-trash" style="font-size:0.75rem"></i></a> {% endcomment %}


{% block extra_js %}
<script>

 
	  function deleteEntry(button) {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-danger pull-right',
                cancelButton: 'btn btn-success'
            },
            buttonsStyling: false
            });

		// ask for confirmation before deleting an item
		// e.preventDefault();
		var button = $(button);
		var route = button.attr('data-route');
		var row = $("#crudTable a[data-route='"+route+"']").closest('tr');

		swalWithBootstrapButtons.fire({
		    title: "Warning",
		    text: "Are you sure you want to delete this item?",
		    icon: "warning",
		    showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, keep it',
            reverseButtons: true
		}).then((result) => {
            if (result.value) {
                $.ajax({
			        url: route,
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                    success: function(result) {
                        if (result.value != 1) {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Your item is safe !',
                                showConfirmButton: false,
                                timer: 1000
                            })

                        } else {
                            // Show a success message
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Your item has been deleted !',
                                showConfirmButton: false,
                                timer: 1000
                            })

                            setTimeout(()=>{
                                location.reload(true);
                            },1500)   
                        }
                    },
                    error: function(result) {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Your item is safe !',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
			    });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Your item is safe !',
                    showConfirmButton: false,
                    timer: 1000
                })
            }
        })
    }
</script>
{% endblock %}